body {

    background-color: lightblue;
    font-family:Avenir,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*
.backgrid th.row-header{
  width: auto;
}
*/


.backgrid td{
  width: 30px;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666 !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.backgrid th{
  height: 110px !important;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  position: relative;
  vertical-align: bottom;
  overflow:visible !important;
  padding: 0 !important;
  font-size: 14px;
  line-height: 0.8;
  border-bottom:1px solid #666 !important;
  background:transparent !important;
}

.backgrid th:nth-child(1) > div, .backgrid th:nth-child(2) > div,.backgrid th:nth-child(3) > div{
	display:none !important;
	text-align: left !important;
}

.backgrid th > div{
  position: relative;
  top: 0px;
  left: 55px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #333;
  //border-right: 1px solid #333;
  border-top: 1px solid #333;
}

.backgrid th:last-child > div {
	border-right: 1px solid #333;
}

.backgrid th a {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -27px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  // white-space: nowrap; /*whether to display in one line or not*/
}