<!DOCTYPE html>
<html>
    <head>
        <title>Who does what?</title>
        <link href="css/backgrid.min.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect();
            socket.on('connect', function () {
                socket.send(window.location.href);
            });
            window.onhashchange = function () {
                socket.send(window.location.href);
            }
        </script>
    </head>
    <body>

        <div>
            <p><a href="/">Home</a>
            <p><a href="/#people">People</a>
            <p><a href="/skills">Skills</a>
            <p><a href="/#table">Table</a>
        </div>

        <div id="content">
        </div>

        <script type="text/template" id="person-view-template">
            <p><%= person.attributes.title %>
            <p><%= person.attributes.id %>
        </script>

        <script src="lib/jquery.js"></script>
        <script src="lib/underscore.js"></script>
        <script src="lib/backbone.js"></script>
        <script src="lib/backgrid.min.js"></script>
        
        <script src="js/models.js"></script>
        <script src="js/views.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
